config.h
apprules.h
dwl
*.rej
*.orig

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.out
*.app
*.exe

# Precompiled Headers
*.gch
*.pch

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Dependency directories
.dirstamp
.deps

# Build directories
bin/
build/
